{% extends 'shared/_mainLayout.html' %}
{% block Content %}
    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="signup-form">
                        <h2>ثبت نام کاربر جدید</h2>
                        <form method="post">

                            {% csrf_token %}

                                <label for="{{ register_form.user_name.id_for_label }}">{{ register_form.user_name.label}}</label>
                                {{ register_form.user_name }}
                                {% for error in register_form.user_name.errors %}
                                <p style="color: #dc0606;">{{ error }}
                                </p>
                                {% endfor %}

                                <label for="{{ register_form.email.id_for_label }}">{{ register_form.email.label}}</label>
                                {{ register_form.email }}
                                {% for error in register_form.email.errors %}
                                <p style="color: #dc0606;">{{ error }}
                                </p>
                                {% endfor %}

                                <label for="{{ register_form.password.id_for_label }}">{{ register_form.password.label }}</label>
                                {{ register_form.password }}
                                {% for error in register_form.password.errors %}
                                <p style="color: #ee0b0b"></p>
                                {% endfor %}

                        <button type="submit" CLASS="btn btn default">ثبت نام </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
