{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>صفحه اصلی | فروشگاه کارزیبا</title>
    {% include "shared/_hedarrefrencses.html" %}
</head><!--/head-->
{% include 'shared/header.html' %}
<body>
{% block Content %}{% endblock %}
{% include 'shared/Footer.html' %}
{% include 'shared/Footerrefrenc.html' %}
</body>
</html>